<footer>
  <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
    rel="stylesheet"
  />

  <div class="container">
    <div class="row">
      <div class="col-1"></div>

      <div class="col-4 justify-content-start">
        <p id="textoFooter">
          <img
            src="https://mamjerez.fra1.digitaloceanspaces.com/Icono%20OCM.png"
            width="30"
            height="30"
            alt="logo"
            class="align-bottom"
          />
          <span>© </span>
          <span>{{ anio }} OCM Jerez. Ver 1.0.0</span>
        </p>
      </div>

      <div class="col-3 justify-content-center">
        <a
          href="https://www.facebook.com/OcmJerez/"
          class="fa fa-facebook"
          target="_blank"
          rel="nofollow"
        ></a>
        <a
          href="https://twitter.com/ocmjerez"
          class="fa fa-twitter"
          target="_blank"
          rel="nofollow"
        ></a>
      </div>

      <div class="col-3 justify-content-end">
        <p id="textoFooter">
          <span>Email: </span>
          <span>
            <a href="mailto:info@ocmjerez.org">info@ocmjerez.org</a>
          </span>
        </p>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</footer>
